*
{
    box-sizing:border-box;
}

body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    margin:0;
}

.nav
{
    background-color: #0089da;
}

.nav ul
{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
}

.nav ul li a
{
    display:block;
    color:white;
    text-decoration: none;
    padding: 20px;
    transition: 0.3s background;
}

.nav ul li a:hover
{
    background: #007cc4;
}

.header
{
    text-align:center;
    padding:20px;
}

.banner
{
    background: url(../images/banner.jpg);
    background-size:cover;
    height:400px;
    widows: 1200px;
}

h1
{
text-align: center;
color:#0089da;
font-weight: normal;
}

.container
{
    width:1200px;
    margin:0 auto;
}

p
{
    line-height: 1.5em;
}

strong
{
    color: #00b7ff;
}

em
{
    color: #405060;
}

a
{
    color: #00b7ff;
}

.footer
{
    background:#404040;
    color:white;
    text-align: center;
    padding: 20px;
}

table.tabelkaa
{
    margin:0 auto;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.tabelkaa tr:nth-of-type(odd)
{
    background: #d2e9ff;
}

td
{
    padding:20px;
}

.nawza
{
    color:rgb(45, 167, 238);
    font-weight: bold;
}

.flex
{
    display: flex;
}

.kloc
{
    width: 25%;
    background: #0089da;
    text-align: center;
    color:white;
    padding: 20px;
    margin:10px;
    border-radius: 20px;
}